.chat-box {
  min-height: 100vh;
  width: 100vw;
  background-image: url("../img/background.png");
  background-size: cover;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
}

#chat-header {
  background-color: var(--white);
  color: var(--grey);
  height: 8vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  font-weight: 600;
  display: flex;
  align-items: center;
  z-index: 1;
}

#chatroom-name {
  font-size: 1.8rem;
  margin-left: 2%;
}

#chatroom-description {
  margin-left: 2em;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.15em;
}

#channel-update-button {
  color:var(--grey);
  margin-left: 1em;
  padding: 0.4em 0.4em;
  font-size: 1.25rem;
  border-radius:50%;
  background-color: var(--yellow);
  border:none;
  cursor: pointer;
}

#channel-update-button:hover {
  background-color: var(--orange);
}

#to-index-button{
  font-size: 2.5rem;
  background: none;
  border:none;
  margin-right: 2%;
  margin-left: auto;
}

a.fa-home{
  color:var(--grey);
  text-decoration: none;
}

#pinned-message-area {
  background-color: var(--yellow);
  height: 8vh;
  width: 100vw;
  position: fixed;
  top: 8vh;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
  border-radius: 0 0 10px 10px;
  overflow: scroll;
}

.pinned-message{
  margin-left: 2rem;
  width: 90%;
}

#message-area {
  width: 100%;
  margin-top: 14vh;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding-top: 2rem;
  padding-bottom: 20vh;
}

::-webkit-scrollbar {
  width: 0px;
}

.my-messages {
  display: flex;
  flex-direction: column;
}

.message-options{
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 1%;
  align-items: baseline;
}

.option-icons{
  display: flex;
}

.my-user-name{
  font-size: 10px;
  color: var(--grey);
  margin: 2px 0;
}

.pinned-message-button{
  background: none;
  border: none;
  font-size: 1rem;
  padding: 0 8px 0 8px;
  color: var(--grey);
  cursor: pointer;
}

.fa-rotate-45 {
	transform: rotate(45deg);
}

.delete-message-button {
  background: none;
  border: none;
  font-size: 1rem;
  padding: 0 8px 0 8px;
  color: var(--grey);
  cursor: pointer;
} 

.box {
  position: relative;
  margin: 0;
  padding: 0.9em 0 0.4em 1em;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  white-space: pre-wrap;
  border-radius: 10px;
  background-color: var(--white);
  color: var(--grey);
  overflow-wrap:break-word;
}

.box-right {
  width: 60%;
  margin-left: auto;
  margin-right: 1%;
}

.reaction-container{
  display: flex;
  align-items: baseline;

}

.reaction-container p{
  background-color: var(--grey);
  padding: 0.5em;
  margin: 4px 0 0 0;
  border-radius: 10px;
  color: var(--white);

}
.reaction-button{
  background: none;
  border: none;
  font-size: 1rem;
  padding: 0.5em;
  margin: 4px 0 0 0;
  color: var(--grey);
  cursor: pointer;
}

.reaction-container-right{
  margin-left: auto;
  margin-right: 1%;
}

.messages {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.user-name {
  font-size: 10px;
  color: var(--grey);
  margin: 2px 0 2px 2%;
}

.box-left {
  margin-left: 1%;
}

.reaction-container-left{
  margin-left: auto;
}
.typing-box-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 16vh;
  background-color: var(--white);
}

.typing-box {
  width: 100vw;
  min-height: 16vh;
  bottom: 0;
  display: flex;
  justify-content:center;
}

.typing-box textarea {
  resize: none;
  cursor: pointer;
  width: 100%;
  min-height: 100%;
  margin: 1% 1%;
  border-color: var(--grey);
  border-radius: 10px;
  padding: 1rem 1rem 2rem 1rem;
}

.typing-box textarea:focus {
  cursor: default;
}

#message-send-tooltip{
  margin-right: auto;
  margin-top: auto;
  padding-right: 20px;
  padding-bottom: 20px;
}

#add-message-button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--yellow);
}

#add-message-button:hover {
  color: var(--orange);
}

#no-message{
  text-align: center;
}

/* ========================================================== */
/* レスポンシブ */

@media screen and (max-width: 550px) {
  #chatroom-description {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  #chatroom-name {
    font-size: 1.5rem;
  }

  #chatroom-description {
    font-size: 1rem;
  }
  }

@media screen and (max-width: 639px) {
  .chat-box {
    width: 100%;
  }
}

@media only screen and (min-width: 640px) {
  .box-right{
    width: 40%;
  }
  .message-options{
    width: 40%;
  }
  .messages{
    width: 40%;
  } 
}
