<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../static/img/favicon.ico" />
    <link
    rel="stylesheet"
    href="../../static/css/styles.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/753a917fd9.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="error-wrapper">
      <div class="error-container">
        <img class="error-logo"
          src="../../static/img/rogo.png"
          alt="logo"
        >
        <div class="error-body">
            <h1 class="error-title">404</h1>
            <p> Not Found</p>
            <p>ページが見つかりません。</p>
            <a class="switch-register-mode" 
            href="../registration/login.html">ログイン画面へもどる
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
