{% extends 'base.html' %} {% block title %}
<title>エラー</title>
{% endblock %} {% block body %}
<div class="error-wrapper">
  <div class="error-container">
    <img class="error-logo" src="{{ url_for('static',filename='img/logo.png') }}" alt="logo">
    <div class="error-body">
      <h2 class="error-title">Error</h2>
        <p>{{ error_message }}</p>
        <p>管理者にお問い合わせください。</p>
        <a class="switch-register-mode" href="{{ url_for('login') }}">ログイン画面へもどる
        </a>
    </div>
  </div>
{% endblock %}